{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    {% block content %}
    <a href="{% url 'post_new' %}">New</a>
    <hr>
    <a href="{% url 'post_drafts_list'%}">Drafts</a>
    <div>
      <h1><a href="/">Django Girls Blog</a></h1>
    </div>

    {% for post in posts %}
    <div>
        <p>published: {{ post.published_date }}</p>
        <h1><a href="{% url 'post_details' pk=post.pk%}">{{ post.title }}</a></h1>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
{% endfor %}
{% endblock %}
  </body>
</html>
