{% extends 'base.html' %}
{% load static%}
    {% block content %}
    <div class="description">
      <a class="btn btn-outline-info btn-lg" href="{% url 'post_edit' slug=post.slug id=post.id%}">Edit</a>
      <a class="btn btn-outline-info btn-lg" href="{% url 'post_remove' slug=post.slug id=post.id%}">Delete</a>
      <a class="btn btn-outline-danger btn-lg" href="{% url 'account:details_profile' username=post.authon %}">{{post.authon}}</a>
      {% if post.moderatin != False %}
        <a class="btn btn-outline-info btn-lg" href="{% url 'post_publish' pk=post.pk %}">Publish</a>
        {% else %}

        {{ post.published_date }}
      {% endif %}
      <h1>{{post.title}}</h1>
      <p class="her">{{post.text}}</p>
      <p>Aaa</p>
      {% with total_likes=post.users_like.count %}
                {{ total_likes }} like{{ total_likes|pluralize }}
      {% endwith %}

      {% if post.cover %}
      <img src="{{ post.cover.url}}" alt="{{ post.title }}" width="500", height="500"><br>
      {% endif%}

    <a href="#">{{post.tags.all|join:', '}}</a>
    <hr>
    <hr>
    <hr>
    <h2>Similar posts</h2>
    {% for post in similar_posts %}
        <p>
            <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
        </p>
    {% empty %}
        There are no similar posts yet.
    {% endfor %}
    <hr>
    <hr>
    <hr>
    {{request.user}}
    <br>
    {% for comment in post.comment.all %}
      {% if comment.author == request.user or post.authon == request.user%}
          <a href="{% url 'comment_remove' pk=comment.pk%}">Remove</a>
      {%endif%}
      <i>{{comment.author}}</i> <p>{{comment.text}}</p>
    {% empty %}
      <p>No comments here yer!</p>
    {% endfor%}
    {% if user %}
    <form class="form-comment" method="POST">{%csrf_token%}
      {{form.as_p}}
      <button type="submit" name="button">Done</button>
    </form>
    {% else %}
    <a href="{% url 'login'%}">Login</a>
    {% endif %}
    </div>
    {% endblock %}
