{% extends 'base.html' %}
{% load staticfiles%}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    {% block content %}
    
    <i><a href="{% url 'details_profile' pk=post.pk%}">{{user.user_profile.pk}}</a></i>
    <a href="{% url 'post_edit' pk=post.pk%}">Edit</a>
    <a href="{% url 'post_remove' pk=post.pk%}">Delete</a>
    {% if post.published_date %}
    <div class="date">
      {{ post.published_date }}
      {% else %}
      <a href="{% url 'post_publish' pk=post.pk %}">Publish</a>
    </div>
    {% endif %}
    <h1>{{post.title}}</h1>
    <p class="her">{{post.text}}</p>
    {% if post.cover %}
    <img src="{{ post.cover.url}}" alt="{{ post.title }}" width="500", height="500"><br>
    {% endif%}
    <hr>
    {% for comment in post.comment.all %}
      {% if user.is_authenticated or comment.approved_comment%}
        {% if not comment.approved_comment %}
          <a href="{% url 'comment_remove' pk=comment.pk%}">Remove</a>
          <a href="{% url 'comment_approve' pk=comment.pk%}">Approve</a>
        {% endif %}
        <p>{{comment.text}}</p>
      {%endif%}
    {% empty %}
      <p>No comments here yer!</p>
    {% endfor%}
    {% if user.is_authenticated %}
    <form class="form-comment" method="POST">{%csrf_token%}
      {{form.as_p}}
      <button type="submit" name="button">Done</button>
    </form>
    {% else %}
    <a href="{% url 'login'%}">Login</a>
    {% endif %}
    {% endblock %}
</html>
