{% extends 'base.html' %}
{% load staticfiles%}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    {% block javascript %}
    <script>
    $(".form-comment").change(function () {
      var text = $(this).val();

      $.ajax({
        url: '/ajax/validate_text/',
        data: {
          'text': text
        },
        dataType: 'json',
        success: function (data) {
          if (data.is_taken) {
            alert("A user with this text already exists.");
          }
        }
      });

    });
    </script>
    {% endblock %}
    {% block content %}
    <a href="{% url 'post_edit' pk=post.pk%}">Edit</a>
    {% if post.published_date %}
    <p>{{post.published_date}}</p>
    {% else %}
    <a href="{% url 'post_publish' pk=post.pk%}">Publish</a>
    {% endif %}
    <a href="{% url 'post_remove' pk=post.pk%}">Delete</a>
    <h1>{{post.title}}</h1>
    <p class="her">{{post.text}}</p>
    <img src="{{ post.cover.url}}" alt="{{ post.title }}" width="500", height="500"><br>
    <hr>
    {% for comment in post.comment.all %}
      {% if user.is_authenticated or comment.approved_comment%}
        {% if not comment.approved_comment %}
          <a href="{% url 'comment_remove' pk=comment.pk%}">Remove</a>
          <a href="{% url 'comment_approve' pk=comment.pk%}">Approve</a>
        {% endif %}
        <p>{{comment.text}}</p>
      {%endif%}
    {% empty %}
      <p>No comments here yer!</p>
    {% endfor%}
    <form class="form-comment" method="POST">{%csrf_token%}
      {{form.as_p}}
      <button type="submit" name="button">Done</button>
    </form>
    {% endblock %}
</html>
