{% extends "base.html" %}

{% block content %}

{% if form.errors %}
  <p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
  {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
  {% else %}
    <p>Please login to see this page.</p>
  {% endif %}
{% endif %}

{% for error in form.non_field_errors %}
    <span class="error-message">{{ error }}</span>
{% endfor %}
<form method="post" action="">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" name="button">Войти</button>
</form>

{# Assumes you setup the password_reset view in your URLconf #}
<p><a href="{% url 'account:change-password-form' %}">Lost password?</a></p>
<p><a href="{% url 'account:register'%}">Sign uo</a></p>

{% endblock %}
