{% extends 'base.html' %}
{% load static %}
{% block head %}
  <title>Details Profile</title>
{% endblock %}
{% block content %}
<div class="row">
  <div class="col-lg-4 col-md-4 col-sm-12">
    <img src="{{profile.image.url}}" class="img-fluid">
    <span class="text-justify">{{profile.user.username}}</span>
 </div>
 <div class="col-lg-8 col-md-8 col-sm-12 desc">

 {% with total_following=profile.users_following.count users_following=profile.users_following.all %}
 <div class="post-info">
   <div>
     <span class="count">
       <span class="total">{{ total_following }}</span>
       Followers{{ total_following|pluralize }}
     </span>
     <br>
     {% if request.user in users_following %}
       <a href="#" data-id="{{ profile.id }}" data-action="unlike"
         class="like button">Unlike</a>
       {% else %}
       <a href="#" data-id="{{ profile.id }}" data-action="like"
         class="like button">Like</a>
       {% endif %}
 </div>
 </div>
 {% endwith %}
 <h3>D.John</h3>
 <p>
    ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </p>
  </div>
</div>
{% endblock %}
{% block domready %}
  $('a.like').click(function(e){
    e.preventDefault();
    $.profile('{% url "account:following" %}',
      {
        id: $(this).data('id'),
        action: $(this).data('action')
      },
      function(data){
        if (data['status'] == 'ok')
        {
          var previous_action = $('a.like').data('action');

          // toggle data-action
          $('a.like').data('action', previous_action == 'like' ?
          'unlike' : 'like');
          // toggle link text
          $('a.like').text(previous_action == 'like' ? 'Unlike' :
          'Like');

          // update total likes
          var previous_likes = parseInt($('span.count .total').text());
          $('span.count .total').text(previous_action == 'like' ?
          previous_likes + 1 : previous_likes - 1);
        }
      }
    );
  });
  
{% endblock %}
